{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Start a New Topic{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
    <li class="breadcrumb-item"><a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a></li>
    <li class="breadcrumb-item active">New Topic</li>
{% endblock %}

{% block content %}
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {#        Render all fields just by typing:#}
        {#        {{ form.as_p }}#}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}

                {#                Load django-widget-tweaks then use render_field#}
                {% render_field field class="form-control" %}

                {% if field.help_text %}
                    <small class="form-text text-muted">
                        {{ field.help_text }}
                    </small>
                {% endif %}
            </div>
        {% endfor %}
        <button class="btn btn-success" type="submit">Post</button>
    </form>
{% endblock %}