body {
    background-image: url("https://source.unsplash.com/yKpXuVwWISA");
}

.logo {
    font-family: 'Rock Salt', cursive;
}

.logo a {
    color: rgba(0, 0, 0, 0.9);
}

.logo a:hover,
.logo a:active {
    text-decoration: none;
}